.contact h1 {
    text-align: center;
}


.contact textarea {
    font-size: 16px;
    width: 80%;
    min-height: 200px;
    display: block;
    margin: 20px auto;
    line-height: 1.6;
}

.contact button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: bold;
    cursor: pointer;
}